NODE_ENV=development
PORT=3000

# MongoDB
MONGO_URI=mongodb://localhost:27017/tasktracker

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
JWT_ACCESS_SECRET=mG?4>F/lLo%xpQL5jw]N.&PKtCU/zW$a[}^03o&iQ?{
JWT_REFRESH_SECRET=GR?wY>4I,+CUFRy+%tcFMF+KOwHkA)l[^R>)CVRwa:t
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cache TTL (seconds)
CACHE_TTL=300
